#nav-bar{
    background-color: rgb(91, 91, 91) !important;
}

.main-color{
    background-color: rgb(91, 91, 91) !important;
}

.custom-border {
    position: relative;
}

.custom-border::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
    height: 2px;
    background-color: #000000; /* Change this to your desired color */
}
#footer{
    background-color: rgb(238, 238, 238);
}